#worm {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.5em;
  margin-top: 2em;
  align-items: center;
}

.worm-head {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #028306;
  border: 2px solid #027206;
  position: relative;
  overflow: visible;
}

.worm-head::before,
.worm-head::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.worm-head::before { left: 12px; }
.worm-head::after  { right: 12px; }

.worm-head .smile {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 9px;
  border-bottom: 2px solid black;
  border-radius: 0 0 12px 12px;
}

.worm-head .antenna {
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: brown;
  top: -10px;
}

.worm-head .antenna.left { left: 14px; }
.worm-head .antenna.right { right: 14px; }

.worm-body {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -10px;
}

.peli1Segment {
  background-color: #e9a5da;
  border: 2px solid #e593da;
}

.peli2Segment {
  background-color: #ffcc41;
  border: 2px solid #eebf3c;
}

.peli3Segment {
  background-color: #41aaff;
  border: 2px solid #3c8fee;
}

.peli4Segment {
  background-color: #ff8841;
  border: 2px solid #ee7a3c;
}

.peli5Segment {
  background-color: #b041ff;
  border: 2px solid #9a3cee;
}

body {
   background-color: #8ed6e5 ;
   color: black;
   font-family: "Comic Sans MS";
}


.site-header, .site-footer {
    background-color:#9cec95;
    padding-top: 1em;
    padding-bottom: 1em;
}
.site-header div {
    padding-top: 1em;
}


.site-title {
    margin-left: 2em;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.3em;
    
}


.nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.nav li a {
    font-weight: normal;
    text-decoration: none;
    color: black;
}
.nav li a:hover {
    font-weight: bold;
}
.button-link:hover {
    font-weight: bold;
    background-color: #027206;
}



.button-link {
  display: inline-block;
  margin: 1em;
  padding: 0.5em 1em;
  background-color: #4CAF50;
  color: black;
  text-decoration: none;
  border: 2px solid #027206;
  border-radius: 5px;
  width: 12em;
}
  

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
html, body{
    margin: 0;
    padding: 0;
}


.footer-nav {
    display: flex;
    justify-content: center;
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}



#intro, #scoreText {
    font-size: 1.2em;
}


@media only screen and (max-width:600px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr); 
        gap: 0.5em; 
        margin-left: 1em;                           
  }
}